.hero__btn, .modal-form-btn {
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 200px;
  background: #2196f3;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --background-dark: #2f303a;
  --background-grey: #f5f4fa;
  --btn-color-white: #ffffff;
  --accent-color-primary: #2196f3;
  --section-header-color: #212121;
  --section-padding-desktop: 94px 0;
  --section-padding-mob-tab: 60px 0;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.active {
  color: #2196f3;
}

.padding-section {
  padding: var(--section-padding-mob-tab);
}

@media screen and (min-width: 1200px) {
  .padding-section {
    padding: var(--section-padding-desktop);
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.active,
.menu__link:hover {
  color: var(--accent-color-primary);
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.burger-btn__icon {
  width: 40px;
  height: 40px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  max-width: 480px;
  height: 100vh;
  z-index: 1;
  overflow: scroll;
  background-color: #ffffff;
  padding: 48px 40px;
  transform-origin: top right;
  transform: translateX(100%);
  transition: transform 500ms var(--timing-function);
}

.mobile-menu.is-open {
  display: flex;
  flex-direction: column;
  transform: translateX(0);
}

.mobile-menu__close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 15px;
  transition: fill 250ms var(--timing-function);
}

.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  fill: var(--accent-color-primary);
}

.close-btn__icon {
  width: 40px;
  height: 40px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--section-header-color);
  letter-spacing: 2%;
}

.mobile-menu__contacts_list {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-menu__contacts-item:nth-child(1) {
  margin-bottom: 32px;
}

.mobile-menu__contacts-link--bigger {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 2%;
  color: var(--accent-color-primary);
}

.mobile-menu__contacts-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 2%;
  color: #757575;
}

.mobile-menu__social-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 479px) {
  .mobile-menu__social-list {
    align-content: space-between;
  }
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 2%;
  color: var(--accent-color-primary);
}

@media screen and (max-width: 479px) {
  .mobile-menu__social-item:nth-child(-n + 3) {
    margin-bottom: 10px;
  }
}

.mobile-menu__social-item:not(:first-child) {
  padding-left: 10px;
}

.mobile-menu__social-item:not(:last-child) {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
    border-bottom: 1px solid #ececec;
  }
}

.header .active {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  header .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  header .logo {
    margin-right: 93px;
  }
}

.logo-web {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo-web {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo-light {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #000000;
}

@media screen and (min-width: 1200px) {
  .logo-light {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo-studio-dark {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .logo-studio-dark {
    font-size: 26px;
    line-height: 1.2;
  }
}

.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .menu > li:not(:last-child) {
    margin-right: 50px;
  }
  .menu__link {
    position: relative;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    padding: 38px 0;
    transition: color 250ms var(--timing-function);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color-primary);
  }
  .menu__link.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    left: 0;
    bottom: 0;
    border-radius: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__link {
    padding: 34px 0;
  }
}

.contacts-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts-list {
    display: block;
  }
  .contacts-list .contacts-list {
    display: flex;
    align-items: start;
    margin-left: auto;
  }
  .contacts-list .contacts-list__items:nth-child(1) {
    margin-bottom: 10px;
  }
  .contacts-list .contacts-list__link {
    display: flex;
    align-items: center;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms var(--timing-function);
  }
  .contacts-list .contacts-list__link:hover, .contacts-list .contacts-list__link:focus {
    color: var(--accent-color-primary);
  }
  .contacts-list .contacts-list__icon {
    margin-right: 10px;
    fill: #757575;
  }
  .contacts-list__link:hover .contacts-list .contacts-list__icon,
  .contacts-list__link:focus .contacts-list .contacts-list__icon {
    fill: var(--accent-color-primary);
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
  }
  .contacts-list__link:nth-child(1) {
    margin-right: 30px;
  }
  .contacts-list .contacts-list__link {
    font-size: 14px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile/hero/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile/hero/hero@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet/hero/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet/hero/hero@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/desktop/hero/img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/desktop/hero/img@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.hero__title {
  font-family: var(--main-font);
  font-size: 26px;
  line-height: 1.62;
  max-width: 360px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  padding: 12px 32px;
  margin: 0 auto;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero__btn:active {
  background-color: #188ce8;
  border: none;
}

.hero__text {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.section-header {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--section-header-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-header {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.advantages-list__item {
  width: 100%;
  text-align: left;
}

.advantages-list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages-list__item {
    width: 354px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .advantages-list__item:not(:last-child) {
    margin-bottom: unset;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list__item {
    width: 270px;
    flex-basis: calc(100%-90 / 4 -30);
    width: calc((100% - 120px) / 4);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.advantages-list__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages-list__icon {
  width: 70px;
  height: 70px;
}

.advantages-list__header {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--section-header-color);
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantages-list__header {
    text-align: left;
  }
}

.advantages-list__text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.services {
  padding-bottom: 94px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .services {
    display: block;
  }
}

.services__list {
  display: flex;
  justify-content: space-between;
}

.services__list > li:not(:last-child) {
  margin-right: 30px;
}

.services__item {
  position: relative;
}

.services__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: var(--background-grey);
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.teammate {
  max-width: 450px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .teammate:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .teammate {
    width: 354px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .teammate:not(:last-child) {
    margin-bottom: unset;
  }
}

@media screen and (min-width: 1200px) {
  .teammate {
    width: 270px;
  }
}

.teammate__info {
  padding: 30px 0;
  text-align: center;
}

.teammate__header {
  margin-bottom: 10px;
}

.stuff-initials {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}

.teammate__position {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team__container {
  margin-left: auto;
  margin-right: auto;
}

.team-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-social-list > li:not(:last-child) {
  margin-right: 10px;
}

.team-social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  /* border: 1px solid red; */
  transition: background-color 250ms var(--timing-function);
}

.team-social-list__link:hover, .team-social-list__link:focus {
  background-color: var(--accent-color-primary);
}

.team-social-list__link .team-social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.team-social-list__link:hover .team-social-list__icon,
.team-social-list__link:focus .team-social-list__icon {
  fill: white;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
  margin-left: -30px;
}

.clients-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 210px;
  height: 92px;
  flex-basis: calc((100% - 2 * 30px) / 2);
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
    max-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc((100% - 6 * 30px) / 6);
    max-width: 170px;
  }
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms var(--timing-function);
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color-primary);
}

.clients-list__icon {
  display: block;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color-primary);
}

.dark-background-container {
  background-color: var(--background-dark);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  /* text-align: left; */
}

.footer-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-flex {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.footer-flex__placing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-flex__placing {
    margin-bottom: unset;
    align-items: flex-start;
  }
  .footer-flex__placing:nth-child(1) {
    min-width: 231px;
    margin-right: 70px;
  }
  .footer-flex__placing:nth-child(2) {
    min-width: 206px;
    margin-right: 93px;
  }
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .address {
    align-items: flex-start;
  }
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.address > li:not(:last-child) {
  margin-bottom: 9px;
}

.adress__location {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms var(--timing-function);
}

.adress__location:focus, .adress__location:hover {
  color: var(--accent-color-primary);
}

.adress__link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
}

.adress__link:hover, .adress__link:focus {
  color: #2196f3;
}

.footer-social-title {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social-list {
  display: flex;
  align-items: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color-primary);
}

.team-social-list__icon {
  /* display: block; */
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  transition: fill 250ms var(--timing-function);
}

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .sign-up {
    width: unset;
    align-items: flex-start;
  }
}

.sign-up__text {
  font-weight: 700;
  /* font-size: 14px; */
  line-height: 1.14;
  color: var(--btn-color-white);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 20px;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .sign-up-form {
    flex-direction: row;
  }
}

.sign-up-form__input {
  width: 100%;
  height: 50px;
  padding: 15px;
  background-color: #2f303a;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
  border-radius: 4px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .sign-up-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .sign-up-form__input {
    width: 358px;
    margin-bottom: unset;
    margin-right: 12px;
  }
}

.sign-up-form__btn {
  display: inline-flex;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 25px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--accent-color-primary);
  color: var(--btn-color-white);
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}

.sign-up-form__btn:hover, .sign-up-form__btn:focus {
  background-color: #188ce8;
}

.sign-up-form__btn-icon {
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms var(--timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  height: 609px;
  background-color: #ffffff;
  padding: 40px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  transition: fill 250ms var(--timing-function);
}

.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color-primary);
}

.close-btn-icon {
  width: 11px;
  height: 11px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form-text {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal-form-text {
    line-height: 1.15;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms var(--timing-function);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color-primary);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color-primary);
}

.modal-form-field {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  /* margin-bottom: 10px; */
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
}

.email-icon {
  background: Solid #212121;
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  transition: border-color 250ms var(--timing-function);
}

.modal-form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment:focus {
  outline: none;
  border-color: var(--accent-color-primary);
}

.modal-form-check-about {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .modal-form-check-about {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form-check-about::before {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.modal-form-term:checked + .modal-form-check-about::before {
  background-color: var(--accent-color-primary);
  border-color: var(--accent-color-primary);
  background-image: url(../images/icon-check.svg);
  background-position: center;
  background-origin: border-box;
  background-size: contain;
}

.modal-form-term:focus + .modal-form-check-about::before {
  outline: 2px solid var(--accent-color-primary);
}

.checkbox-term-contract {
  color: var(--accent-color-primary);
}

.modal-form-btn {
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-self: center;
  padding: 10px 55px;
  color: var(--btn-color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form-btn:active {
  background-color: #188ce8;
  border: none;
}
/*# sourceMappingURL=main.css.map */