body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  min-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.padding-section {
  padding: var(--section-padding-mob-tab);

  @media screen and(min-width: 1200px) {
    padding: var(--section-padding-desktop);
  }
}
