:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --background-dark: #2f303a;
  --background-grey: #f5f4fa;
  --btn-color-white: #ffffff;
  --accent-color-primary: #2196f3;
  --section-header-color: #212121;
  --section-padding: 94px 0;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
